 <body class="container-fluid">
  <header>
    <div class="card-group" >
        <div class="card" style="margin: 20px; background-attachment: fixed; background-position: center; 
            background-repeat: no-repeat; background-size: cover; min-height: 500px; background-image: url('https://cdn.ome.lt/TcHUN6_hiBYjo0Ivj1p9AaULL_k=/1200x630/smart/extras/conteudos/shenron.png');">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card mt-5" style="margin: 50px; background-attachment: fixed; background-position: center; 
             background-repeat: no-repeat; background-size: cover; min-height: 500px; background-image: url('https://cdn.ome.lt/TcHUN6_hiBYjo0Ivj1p9AaULL_k=/1200x630/smart/extras/conteudos/shenron.png');">
          <div class="card-body" style="color:aliceblue;"> 
            <h2 class="card-title text-center">Sheilong</h2>
          </div>
        </div>
        <div class="card" style="margin: 20px; background-attachment: fixed; background-position: center; 
            background-repeat: no-repeat; background-size: cover; min-height: 500px; background-image: url('https://cdn.ome.lt/TcHUN6_hiBYjo0Ivj1p9AaULL_k=/1200x630/smart/extras/conteudos/shenron.png');">>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>

    <div class="card-group" >
        <div class="card" style="margin: 20px; background-attachment: fixed; background-position: center; 
            background-repeat: no-repeat; background-size: cover; min-height: 500px; background-image: url('https://cdn.pixabay.com/photo/2020/08/18/23/19/spheres-5499579_960_720.png');">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
        <div class="card mt-5" style="margin: 50px; background-attachment: fixed; background-position: center; 
             background-repeat: no-repeat; background-size: cover; min-height: 500px; background-image: url('https://cdn.pixabay.com/photo/2020/08/18/23/19/spheres-5499579_960_720.png');">
          <div class="card-body" style="color:aliceblue;"> 
            <h2 class="card-title text-center">Esferas do Dragão</h2>
            <p class="card-text text-center">Faça seu pedido!..</p>
          </div>
        </div>
        <div class="card" style="margin: 20px; background-attachment: fixed; background-position: center; 
            background-repeat: no-repeat; background-size: cover; min-height: 500px; background-image: url('https://cdn.pixabay.com/photo/2020/08/18/23/19/spheres-5499579_960_720.png');">>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
          </div>
        </div>
    </div>
  </header>
  
  <div class="container col-6 text-center">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/M6qVj-SaElQ" title="YouTube video" allowfullscreen></iframe>
      </div>
        <p class="fs-1 fw-bold">Deuses</p>
        <p class="fs-4">Demostração da luta entre Bills e Goku no jogo Dragon Ball Z: Kakarot</p>
  </div>

              


  
  <div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
    </div>
  </div>

  <footer class="container mb-4 mt-5">
    <p class="float-end"><a href="#">Subir</a></p>
  </footer>
</body>